domain-model/src/main/resources/jaxb.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">

<!--This tells JAXB what package to create the Java classes in -->
	<xsd:annotation>
		<xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="pro.techunbox.model" />
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:complexType name="Product">
		<xsd:sequence>
			<xsd:element name="productId" type="xsd:integer" />
			<xsd:element name="productDescription" type="xsd:string" />
			<xsd:element name="productPrice" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>